name: Tests
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - "main"
    paths-ignore:
      - "terraform/**"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "terraform/**"

jobs:
  integration-test-microk8s:
    name: Integration tests (microk8s)
    runs-on: ubuntu-24.04
    timeout-minutes: 900
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install dependencies
        run: |
          python -m pip install tox
          sudo snap install jhack
          sudo snap install rockcraft --classic
          sudo snap connect jhack:dot-local-share-juju snapd

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.32-strict/stable
          juju-channel: 3.6/stable
          microk8s-addons: "dns registry hostpath-storage metallb:10.64.140.43-10.64.140.49"

      - name: Setup juju model config
        run:
          juju model-config logging-config="<root>=INFO"

      - name: Remove packages
        run: |
          sudo apt-get clean
          sudo rm -rf /usr/local/lib/android /usr/local/lib/node_modules /usr/share/dotnet

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          detached: true
          sudo: true
